
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>管理员登录</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/Content/CSS/font.css">
    <link rel="stylesheet" href="~/Content/CSS/xadmin.css">
    <script type="text/javascript" src="~/Content/Scripts/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/js/xadmin.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/layui/layui.js"></script>
</head>
<body class="login-bg">
    <div class="login">
        <div class="message">管理员登录</div>
        <div id="darkbannerwrap"></div>
        <form class="layui-form">
            <div class="layui-form-item">
                <input name="accountname" placeholder="账号" type="text" lay-verify="required" class="layui-input">
            </div>
            <div class="layui-form-item">
                <input name="password" lay-verify="required" placeholder="密码" type="password" class="layui-input">
            </div>
            <div class="layui-row">
                <div class="layui-input-inline">
                    <input name="verifycode" lay-verify="required" type="text" placeholder="验证码" class="layui-input">
                </div>
                <img id="valiCode" src="@Url.Action("GetValidateCode", "ValidateCode", new { v = DateTime.Now.Ticks })" alt="验证码" />
            </div>
            <div class="layui-form-item">
            </div>
            <div class="layui-form-item">
                <input type="checkbox" name="donotlogin" title="5天内免登录">
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit lay-filter="login">登录</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        $(function () {
            layui.use('form', function () {
                var form = layui.form;
                //监听提交
                form.on('submit(login)', function (data) {

                    var postData = data.field;

                    //由于layui的checkbox如果所有的选项都没有选中，则传入的data中不会有相应的字段名称，所有只有用undefined判断是否存在字段名称来判断是否选中
                    if (data.field.donotlogin != undefined) {
                        data.field.donotlogin = true;
                    }
                    else {
                        data.field.donotlogin = false;
                    }

                    var aa = "@Url.Action("Account","Login")";

                  $.ajax({
                        type: "POST",
                        url: "/Account/Login",
                        data: postData,
                        success: function (result) {
                            if (result.success == true) {
                                layer.alert("数据删除成功");
                            }
                            else {
                                if (result.msg != '') {
                                    layer.alert(result.msg);
                                }
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            layer.alert("数据删除发生异常")
                        },
                        traditional: true
                    });

                    return false;
                });
            });

            //注册验证码点击事件
            $('#valiCode').off('click').on('click', function () {
                this.src = '@Url.Action("GetValidateCode", "ValidateCode")?v=' + new Date().getTime();
            });

        })
    </script>

</body>
</html>
